.offers-container {
  background: #ffffff;
  border-radius: 12px;
  padding: 30px;
  margin: 20px;

  transition: all 0.3s ease-in-out;
}

.brand-logo {
  height: 35px;
  object-fit: contain;
}

.offer-card {
  background: #f9f9f9;
  border-radius: 12px;
  width: 280px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.offer-card:hover {
  transform: translateY(-6px);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
  background: linear-gradient(180deg, #ffffff, #f3f7ff);
}

.icon-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.badge {
  font-size: 0.85rem;
  border-radius: 8px;
}